@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('https://wallpapercave.com/dwp1x/wp11973443.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}
.box{
    position: relative;
    width: 380px;
    height: 420px;
    border-radius: 8px;
}
.box form{
    position: absolute;
    inset: 4px;
    background: red;
    padding: 50px 40px;
    border-radius: 8px;
    z-index: 2;
    display: flex;
    flex-direction: column;
}